!.mvn/wrapper/maven-wrapper.jar
.DS_Store
*.tar.gz

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Maven ###
target/
logs/
*.log

### NodeJS ###
node_modules/
